*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --pri:#b300ff;
    --red:#e72d2d;
    --grey:gray;
    --white:white;
    --mix: linear-gradient(to right, #884CD2, #FD5502);
    --black: #000000;
    --smoke: #f5f5f5;


}
p{
    margin-bottom: 0;
}
.top-bar{
    background: var(--pri);
    padding-top: 3px;
    /* position:sticky;
    z-index: 1;
    top: 0px; */
}
.top-navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.top-bar p{
    margin-bottom: 0;
    /* margin-top: 7px; */
}
.top-bar a{
    text-decoration: none;
    color: var(--white);
}

.topbar-left .fa{
    font-size: 23px;
    padding: 8px 2px;
    color: var(--red);
    border-radius: 50%;
}
.topbar-right .fa{
    font-size: 23px;
    padding: 10px 10px;
    color: var(--red);
    border-radius: 50%;
    border: 1px solid white;
}
.topbar-right .fa:hover{
    font-size: 23px;
    padding: 10px 10px;
    color: var(--white);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    border: none;
}

.topbar-right .rounded-circle .fa{
    padding: 10px 13px;
}
.gst{
    color: var(--red);
    font-weight: 600;
    font-size: 18px;
}

.navbar-brand img{
    width: 300px;
    margin: 0px 25px;

}
.nav-link{
    font-size: 23px;
}
.nav-link:hover{
color: var(--red) !important;


}

.button a{
    background-color: var(--red);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 600;
    font-size: larger;

}
.button a:hover{
    background-color: var(--pri);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 600;
    font-size: larger;
    transition: 0.8s ease-in-out;


}

.banner-box{
    background-size: cover;
    background-image: linear-gradient(#00000068,#00000073), url("../images/banner/about-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "PT Serif", serif;

}
.banner-text h1{
    color: var(--white);
    font-size: 59px;
    font-weight: 700;
}
.banner-text h3 a{
    color: var(--red);
    font-weight: 700;
    text-decoration: none;
}
.banner-text h3 {
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
}


.query-box{
    background-image: url("/assets/images/banner/carousel-1.jpg");
}
.querybox-color{
    background-color: rgba(0, 0, 0, 0.489);
}


.inputbox-backcolor{
    background-color: rgba(0, 0, 0, 0.6);
}
.input-box input{
    background: transparent;
    color: var(--white);
}


.input-box select{
    background: transparent;
    color: var(--white);
}

.input-box textarea{
    background: transparent;
    color: var(--white);
}
.input-box button{
    background-color: var(--red);
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;

}
.input-box button:hover{
    background-color: var(--pri);
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;
    transition: 0.8s ease-in-out;


}

.input-box h3{
    color: var(--red);
}
.input-box h1{
    color: var(--white);
}


.input-box option{
    color: var(--black);
}
.query-text p{
    color: var(--white);
    text-align: justify;
    font-size: 25px;

}
.query-text .fa{
    color: var(--red);
    font-size: 29px;
}
.query-text a{
    text-decoration: none;
    font-size: 22px;
}





.map{
    margin-top: 25px;
}
.follow-head{
    background-color: var(--pri);
    text-align: center;
    margin-top: -5px;
}
.follow-icon .fa{
    color: var(--red);
    background-color: var(--white);
    border-radius: 35px;
    padding: 15px;
    padding: 8px 10px 8px 10px;
    font-size: 25px;
}
/* .follow-icon a{
    padding: 10px 0px;
} */


.follow-icon .rounded-circle .fa{
    padding: 10px 13px;
}





.help-head h1{
    font-family: "PT Serif", serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.line1{
    color: var(--white);
    line-height: 2.6;
}

.service{
    color: var(--white);
}
.service ul li{
    list-style: none;
    line-height: 1.9;

}
.service a{
    text-decoration: none;
    font-size: 16px;
    color: var(--white);
    font-weight: 600;
}
.service a:hover{
    color: var(--red);
}
.address{
    color: var(--white);
}

.address .fa{
    color: var(--red);
    font-size: 26px;
}
.contact{
    color: var(--white);
}
.contact .fa{
    color: var(--red);
}
.copyright{
    color: var(--white);
}
.design p{
    color: var(--white);
}
.design a{
    color: var(--red);
}




.follow{
    background-color: var(--pri);
}
.follow p{
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 22px;
} 
.follow-icon  .fa{
    padding: 10px 13px;
}
.follow-icon .rounded-circle .fa{
    padding: 9px 15px;


}

.follow-icon .fa{
    color: var(--red);
    background-color: var(--white);
    border-radius: 35px;
    padding: 15px;
    padding: 8px 10px 8px 10px;
    font-size: 25px;
}

.follow-icon .fa:hover{
    background-color: var(--pri);
    color: var(--white);
    transition: 0.9s ease-in-out;

}
.follow-icon2 .fa{
    color: var(--red);
    background-color: var(--white);
    border-radius: 35px;
    padding: 15px;
    padding: 8px 10px 8px 10px;
    font-size: 25px;
}
.follow-icon2 a,.follow-icon a{
    text-decoration: none;
}


.follow-icon2 .fa:hover{
    background-color: var(--black);
    color: var(--white);
    transition: 0.9s ease-in-out;

}


.footer{
    background-color: black;
    margin-top: 40px;
    padding-top: 60px;
}






@media (max-width:768px){

    .navbar-brand img{
        width: 190px;
        padding: 0px !important; 
    }
    .query-text a{
        font-size: 20px !important;
        padding-left: 40px;
    }
}
@media (min-width:300px) and (max-width:550px){

    .top-bar{
        display: none !important;
    }
    .about-image-2{
        display: none;

    }
    .query-text p{
        text-align: start;
        font-size: 19px;

    }
    .banner-text h1{
        font-size: 35px;
    }



}


































































































































